<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.daxh.explore.madtest02">

    <application
        android:name=".MadTest02App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".simple.SimpleRecyclerViewActivity"
            android:label="@string/title_simple_recyclerview_usage_example"/>

        <activity
            android:name=".classic.ClassicExamplesActivity"
            android:label="@string/title_classic_recyclerview_usage_example"/>
    </application>

</manifest>